body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

main {
    background-color: #f4f5f5;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
    width: 80%;
    height: 80%;
    border-radius: 0.5rem;
}

section > * {
    margin-bottom: 1.5rem;
}

h1, h2, h3, h4, h5, h6, p {
    color: #0d0d0d;
}

p {
    display: block;
    padding: 3rem;
    line-height: 1.5;
}

/* When the browser is at least 600px and above */
@media screen and (min-width: 600px) {
    section {
        width: 60%;
    }
}


/* When the browser is at least 960px and above */
@media screen and (min-width: 960px) {
    section {
        width: 50% !important;
    }
}
